/* Defaults */
:root {
    font-family: 'Arvo', serif;
    font-size: 16px;
    color: rgb(0, 0, 0);;
}


/* Layout */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 20px 0px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid rgb(237, 237, 237);
    border-radius: 10px; */
}



/* Output */

.output {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(237, 237, 237); */
    /* border-radius: 10px; */
}

.output-numbers{
    margin: 20px 0px 20px 0px;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 10px;
    padding: 10px;
}

.output-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    width: 300px;
}

.output-div p {
    margin: 0px;
    padding: 0px;
}

.output-div .output-label {
    margin: 0px 10px 0px 0px;
}

.center {
    align-self: center;
}



/* Content */
h1 {
    margin: 0px;
}

a {
    color: rgba(2, 63, 144, 1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.home {
    color: rgba(52, 61, 70, 1);
    font-weight: bold;
    margin: 0px;
}


/* Calculator */

.pad {
    display: grid;
    grid-template-columns: 40px 40px 40px 40px 40px;
    padding: 2px;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 10px;
}

input {
    font-family: 'Arvo', serif;
    font-size: 16px;
    padding: 2px;
    margin: 0px;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 10px;
}

#formula {
    font-size: 16px;
    width: 200px;
}

.draw-div {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

#draws {
    width: 100px;
    text-align: right;
}

button {
    width: 38px;
    height: 38px;
    padding: 0px;
    margin: 1px;
    border: none;
    border-radius: 10px;
}

button:hover {
    border: 1px solid black;
}


/* Output window */

.vis-panel {
    padding: 10px;
    border: 1px solid rgb(237, 237, 237);;
    border-radius: 10px;
}

.vis-panel, svg {
    width: 400px;
}

svg rect {
    fill: orange;
    stroke: black;
    stroke-width: 1px;
}

svg text {
    font-family: monospace;
    font-size: 12px;
}


/* Media Queries */
@media screen and (min-width: 920px) {
    .vis-panel, svg {
        width: 600px;
    }
    /* main {
        left: 25%;
        width: 50%;
    } */
}

/* @media screen and (min-width: 1500px) {
    main {
        left: 30%;
        width: 40%;
    }
} */